<!DOCTYPE HTML>
<html>
    <head>
<link rel="shortcut icon" href="">
<meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval'">
        <title>Eat Dat Burger!</title>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>