<!DOCTYPE HTML>
<html>
    <head>
<link rel="shortcut icon" href="">
<meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval'">
<link rel="stylesheet" href="assets/css/burger_style.css">
    <link href="assets/css/burger_style.css" rel="stylesheet">


        <title>Eat Dat Burger!</title>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>